<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @case_type %> Case:</p>
    <p>This is an alert email for <%= @case_type %> case <%= @child.short_id %> , start comprehensive assessment within <%= @case_type == 'Significant Harm' ? 4 : 15 %> days of the completion of the Initial Assessment.</p>
    <% if @case_type == 'Significant Harm' %>
      <p>As this is a emergency case, you are requested to complete the assessment as soon as possible.</p>
    <% end %>
    <p>Due date to start Comprehensive Assessment is: <%= @due_date %></p>
    <p>Refer to Case ID: <%= link_to(@child.short_id, @url + 'v2/cases/' + @child.id).html_safe %></p>
  </body>
</html>
